<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.component.css"> <!-- Enlaza tu archivo CSS -->
    <title>Servicios</title>
</head>
<body>
    <div>
        <h1>Soluciones informáticas de software S.A</h1>
        <h2>Los servicios que ofrecemos:</h2>
        <ul>
            <li>Desarrollo de software</li>
            <li>Consultoría</li>
            <li>Soporte técnico</li>
            <li>Bases de datos</li>
        </ul>
        <h3>Nuestros integrantes y sus funciones</h3>
        <ul>
            <li><u>Desarrollador de software:</u>es un profesional especializado en la creación, diseño, implementación 
                y mantenimiento de programas informáticos y aplicaciones. Este individuo combina habilidades técnicas, 
                lógicas y creativas para traducir las necesidades de los usuarios o clientes en código de programación 
                funcional.</li>
            <li><u>Probador de software:</u>Es un profesional especializado en el campo de la tecnología de la información
                 cuya principal responsabilidad es evaluar aplicaciones de software para asegurarse de que funcionen 
                 de manera adecuada y cumplan con los estándares de calidad requeridos</li>
        </ul>
    </div>
</body>
</html>
